<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

  <div th:replace="~{fragments :: page-header}"></div>

  <div class="container body-content">

    <!--  h1 of the page -->
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <!--   From: https://techjobs-mvc.launchcodelearning.org/list-->
    <!--   To: https://techjobs-mvc.launchcodelearning.org/list/jobs?column=all-->

  </div>

  <!-- adding table to display "ALL Jobs" records using fragment-->
  <!--  comment below table if using fragment-->
  <div th:replace="~{fragments :: table-jobs}"></div>



  <!--  adding table to display "ALL Jobs" records -->
  <!--    <th:block th:each = "aJob : ${jobs}">-->
  <!--      <table class="job-listing">-->
  <!--      <tr>-->
  <!--        <td th:text="ID"></td>-->
  <!--        <td th:text="${aJob.id}"> </td>-->
  <!--      </tr>-->

  <!--      <tr>-->
  <!--        <td th:text="Name"></td>-->
  <!--        <td th:text="${aJob.name}"> </td>-->
  <!--      </tr>-->

  <!--      <tr>-->
  <!--        <td th:text="Employer"></td>-->
  <!--        <td th:text="${aJob.employer}"> </td>-->
  <!--      </tr>-->

  <!--      <tr>-->
  <!--        <td th:text="Location"></td>-->
  <!--        <td th:text="${aJob.location}"> </td>-->
  <!--      </tr>-->

  <!--      <tr>-->
  <!--        <td th:text="'Position ' + 'Type'"></td>-->
  <!--        <td th:text="${aJob.positionType}"> </td>-->
  <!--      </tr>-->

  <!--      <tr>-->
  <!--        <td th:text="Skill"></td>-->
  <!--        <td th:text="${aJob.coreCompetency}"> </td>-->
  <!--      </tr>-->
  <!--      </table>-->
  <!--    </th:block>-->

</body>
</html>